{% extends "fellchensammlung/mail/base.html" %}
{% load i18n %}
{% block title %}
    {% translate 'Neue Meldung' %}
{% endblock %}

{% block content %}
    <p>{% translate 'Moin' %},</p>
    <p>
        {% blocktranslate %}
            es gibt eine neue Meldung.
        {% endblocktranslate %}
        {% if notification.report.user_comment %}
            {% blocktranslate %}
                Folgende Nachricht wurde zur Meldung hinzugefügt:
            {% endblocktranslate %}
        {% endif %}

    </p>
    {% if notification.report.user_comment %}
        <p>
            <i>
                {{ notification.report.user_comment }}
            </i>
        </p>
    {% endif %}
    <p>
        {% blocktranslate %}
            Bitte bearbeite die Meldung möglichst bald.
        {% endblocktranslate %}
    </p>
    <p>
        <a href="{{ notification.report.get_full_url }}" class="cta-button">{% translate 'Report bearbeiten' %}</a>
    </p>
{% endblock %}