{% load i18n %}
{% load custom_tags %}
<div class="card">
    <div class="card-header">
        <div class="card-header-title content">
            <b class="">{{ comment.user }}</b> <span class="tag"><time class="">{{ comment.created_at }}</time></span>
        </div>
    </div>
    <div class="card-content">
        <p class="content">
            {{ comment.text | render_markdown }}
        </p>
    </div>
    <div class="card-footer">

        <a class="card-footer-item is-danger" href="{{ comment.get_report_url }}">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-solid fa-flag"></i>
                    </span>
                    <span>{% trans 'Melden'  %}</span>
                </span>
        </a>
    </div>


</div>
