{% load i18n %}

<div class="container-comments">
    <h2>{% translate 'Kommentare' %}</h2>
    {% if adoption_notice.comments %}
        {% for comment in adoption_notice.comments %}
            {% include "fellchensammlung/partials/partial-comment.html" %}
        {% endfor %}
    {% else %}
        <div class="card">
            <p>{% translate 'Noch keine Kommentare' %}</p>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        {% include "fellchensammlung/forms/form-comment.html" %}
    {% else %}
        {% translate 'Du musst dich einloggen um Kommentare zu hinterlassen' %}
    {% endif %}

</div>