{% load static %}
<!-- add MapLibre JavaScript and CSS -->
<script src="https://tiles.versatiles.org/assets/maplibre-gl/maplibre-gl.js"></script>
<link href="https://tiles.versatiles.org/assets/maplibre-gl/maplibre-gl.css" rel="stylesheet"/>

<!-- add container for the map -->
<div id="map" style="width:100%;aspect-ratio:16/9"></div>

<!-- start map -->
<script>
    let map = new maplibregl.Map({
        container: 'map',
        style: 'https://tiles.versatiles.org/assets/styles/colorful.json',
        center: [10.49, 50.68],
        zoom: 5
    }).addControl(new maplibregl.NavigationControl());

    // create the popup
    const popup = new maplibregl.Popup({offset: 25}).setText(
        'A sweet rat waiting for adoption.'
    );

    // create DOM element for the marker
    const el = document.createElement('div');
    el.id = 'marker';

    const monument = [10.7, 50.68];
    // create the marker
    new maplibregl.Marker({element: el})
        .setLngLat(monument)
        .setPopup(popup) // sets a popup on this marker
        .addTo(map);
</script>
