{% load i18n %}
{% load custom_tags %}
<div class="card">
    <h1>
        <a href="{{ adoption_notice.get_absolute_url }}">{{ adoption_notice.name }}</a>
    </h1>
    <i>{% translate 'Zuletzt geprüft:' %} {{ adoption_notice.last_checked_hr }}</i>
    {% if adoption_notice.further_information %}
        <p>{% translate "Externe Quelle" %}: {{ adoption_notice.link_to_more_information | safe }}</p>
    {% endif %}
    <div class="container-edit-buttons">
        <form method="post">
            {% csrf_token %}
            <input type="hidden"
                   name="adoption_notice_id"
                   value="{{ adoption_notice.pk }}">
            <input type="hidden" name="action" value="checked_active">
            <button class="btn" type="submit">{% translate "Vermittlung noch aktuell" %}</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <input type="hidden"
                   name="adoption_notice_id"
                   value="{{ adoption_notice.pk }}">
            <input type="hidden" name="action" value="checked_inactive">
            <button class="btn" type="submit">{% translate "Vermittlung inaktiv" %}</button>
        </form>
    </div>
</div>