{% load static %}
{% load custom_tags %}
{% load i18n %}

<!-- add MapLibre JavaScript and CSS -->
<script src="{% settings_value "MAP_TILE_SERVER" %}/assets/maplibre-gl/maplibre-gl.js"></script>
<link href="{% settings_value "MAP_TILE_SERVER" %}/assets/maplibre-gl/maplibre-gl.css" rel="stylesheet"/>

<!-- add container for the map -->
<div id="map" style="width:100%;aspect-ratio:16/9"></div>

<!-- start map -->
<script>
    let map = new maplibregl.Map({
        container: 'map',
        style: '{% settings_value "MAP_TILE_SERVER" %}/assets/styles/colorful.json',
        center: [10.49, 50.68],
        zoom: 5
    }).addControl(new maplibregl.NavigationControl());

    {% for adoption_notice in adoption_notices %}
        {% if adoption_notice.location %}
        // create the popup
        const popup_{{ forloop.counter }} = new maplibregl.Popup({offset: 25}).setHTML(`{% include "fellchensammlung/partials/partial-adoption-notice-minimal.html" %}`);

        // create DOM element for the marker
        const el_{{ forloop.counter }} = document.createElement('div');
        el_{{ forloop.counter }}.id = 'marker_{{ forloop.counter }}';
        el_{{ forloop.counter }}.classList.add('marker');

        const location_popup_{{ forloop.counter }} = [{{ adoption_notice.location.longitude | pointdecimal }}, {{ adoption_notice.location.latitude | pointdecimal }}];
        // create the marker
        new maplibregl.Marker({element: el_{{ forloop.counter }}})
            .setLngLat(location_popup_{{ forloop.counter }})
            .setPopup(popup_{{ forloop.counter }}) // sets a popup on this marker
            .addTo(map);
        {% endif %}
    {% endfor %}
</script>
