{% load i18n %}
{% load custom_tags %}
<div class="search-subscription">
    <div class="search-subscription-header">
        <h3>{{ search_subscription }}</h3>
        <form class="notification-card-mark-read" method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="search_subscription_delete">
            <input type="hidden" name="search_subscription_id" value="{{ search_subscription.pk }}">
            <button class="btn2" type="submit" id="submit"><i class="fa-solid fa-close"></i></button>
        </form>
    </div>
    <table>
        <tr>
            <th>{% trans 'Geschlecht' %}</th>
            <th>{% trans 'Suchort' %}</th>
            <th>{% trans 'Suchradius' %}</th>
        </tr>
        <tr>
            <td>{{ search_subscription.sex }}</td>
            <td>{{ search_subscription.location }}</td>
            <td>{{ search_subscription.max_distance }}km</td>
        </tr>
    </table>
</div>
