{% load i18n %}
<div class="report card">
    <h2>
        {% blocktranslate %}
            Meldung von {{ report.reported_content }}
        {% endblocktranslate %}
    </h2>
    {% if report.reported_broken_rules %}
        {% translate "Regeln gegen die Verstoßen wurde" %}
        <ul>
            {% for rule in report.get_reported_rules %}
                <li>{{ rule }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p><b>{% translate "Kommentar zur Meldung" %}:</b>
        {{ report.user_comment }}
    </p>
    {% if is_mod_or_above %}
        <div class="container-edit-buttons">
            <form action="allow" class="">
                {% csrf_token %}
                <input type="hidden" name="report_id" value="{{ report.pk }}">
                <button class="btn allow" type="submit">{% translate "Inhalt genehmigen" %}</button>
            </form>
            <form action="disallow" class="">
                {% csrf_token %}
                <input type="hidden" name="report_id" value="{{ report.pk }}">
                <button class="btn allow" type="submit">{% translate "Inhalt als gesperrt kennzeichnen" %}</button>
            </form>
        </div>
    {% endif %}
</div>