{% load custom_tags %}
{% load i18n %}

<div class="panel block">
    <p class="panel-heading">{% trans "Kontaktdaten" %}</p>
    {% if org.has_contact_data %}
        {% include "fellchensammlung/partials/partial-in-panel-contact-data.html" %}
    {% elif org.parent_org.has_contact_data %}
        {% with org=org.parent_org %}
            {% include "fellchensammlung/partials/partial-in-panel-contact-data.html" %}
        {% endwith %}
    {% else %}
        <div class="panel-block is-active">
            <span class="panel-icon">
              <i class="fas fa-x" aria-label="{% translate "E-Mail" %}"></i>
            </span>
            {% translate 'Keine Kontaktdaten hinterlegt' %}
        </div>
    {% endif %}
</div>