{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}
{% load custom_tags %}

{% block title %}<title>{% translate "Über uns und Regeln" %}</title>{% endblock %}

{% block content %}
    {% if about_us %}
        <h1>{{ about_us.title }}</h1>
        {{ about_us.content | render_markdown }}
    {% endif %}

    <h2>{% translate "Regeln" %}</h2>
    {% include "fellchensammlung/lists/list-rules.html" %}

    {% if privacy_statement %}
        <h2>{{ privacy_statement.title }}</h2>
        {{ privacy_statement.content | render_markdown }}
    {% endif %}

    {% if terms_of_service %}
        <h2>{{ terms_of_service.title }}</h2>
        {{ terms_of_service.content | render_markdown }}
    {% endif %}

    {% if imprint %}
        <h2>{{ imprint.title }}</h2>
        {{ imprint.content | render_markdown }}
    {% endif %}
{% endblock %}