{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}
{% load custom_tags %}

{% block title %}<title>{% translate "Über uns und Regeln" %}</title>{% endblock %}

{% block content %}
    {% if about_us %}
        <div class="card">
            <h1>{{ about_us.title }}</h1>
            <p>
                {{ about_us.content | render_markdown }}
            </p>
        </div>
    {% endif %}

    <h2>{% translate "Regeln" %}</h2>
    {% include "fellchensammlung/lists/list-rules.html" %}

    {% if faq %}
        <div class="card">
            <h2>{{ faq.title }}</h2>
            <p>
                {{ faq.content | render_markdown }}
            </p>
        </div>
    {% endif %}

    {% if privacy_statement %}
        <div class="card">
            <h2>{{ privacy_statement.title }}</h2>
            <p>
                {{ privacy_statement.content | render_markdown }}
            </p>
        </div>
    {% endif %}

    {% if terms_of_service %}
        <div class="card">
            <h2>{{ terms_of_service.title }}</h2>
            <p>
                {{ terms_of_service.content | render_markdown }}
            </p>
        </div>
    {% endif %}

    {% if imprint %}
        <div class="card">
            <h2>{{ imprint.title }}</h2>
            <p>
                {{ imprint.content | render_markdown }}
            </p>
        </div>
    {% endif %}
{% endblock %}