{% load custom_tags %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}{% endblock %}
    {% block og_title %}{% endblock %}
    {% block description %}{% endblock %}
    {% block og_description %}{% endblock %}
    {% block og_image %}{% endblock %}
    <link rel="canonical" href="{% block canonical_url %}{% endblock %}">

    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{% static 'fellchensammlung/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'fellchensammlung/css/photoswipe.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'fellchensammlung/js/custom.js' %}"></script>
    <script src="{% static 'fellchensammlung/js/toggles.js' %}"></script>
    <script src="{% static 'fellchensammlung/js/jquery.min.js' %}"></script>
    <script type="module" src="{% static 'fellchensammlung/js/photoswipe.js' %}"></script>
    {% block additional_scrips %}{% endblock %}


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fellchensammlung/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fellchensammlung/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fellchensammlung/favicon/favicon-16x16.png' %}">
    {% get_oxitraffic_script_if_enabled %}
</head>
<body>
{% block header %}
    {% include "fellchensammlung/header.html" %}
{% endblock %}
{% if profile %}
    <div class="profile">
        <table class="table is-bordered is-fullwidth is-hoverable is-striped">
            <thead>
            <tr>
                <td>Timestamp</td>
                <td>Status</td>
            </tr>
            </thead>
            <tbody>
            {% for status in profile %}
                <tr>
                    <td>{{ status.0 }}</td>
                    <td>{{ status.1 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
<div class="main-content">
    {% block content %}{% endblock %}
</div>


{% block footer %}
    {% include "fellchensammlung/footer.html" %}
{% endblock %}

{% block extra_body %}
{% endblock extra_body %}
</body>
</html>
