{% extends "fellchensammlung/base_bulma.html" %}
{% load i18n %}
{% load custom_tags %}

{% block title %}<title>{% translate "Notfellchen - Farbratten aus dem Tierschutz adoptieren" %}</title>{% endblock %}

{% block content %}
    {% for announcement in announcements %}
        {% include "fellchensammlung/partials/bulma-partial-announcement.html" %}
    {% endfor %}
    {% if introduction %}
        <h1>{{ introduction.title }}</h1>
        {{ introduction.content | render_markdown }}
    {% endif %}

    <h2>{% translate "Aktuelle Vermittlungen" %}</h2>

    <div class="block">
        {% include "fellchensammlung/lists/bulma-list-adoption-notices.html" %}
        <a class="button is-primary" href="{% url 'search' %}">{% translate "Mehr Vermittlungen" %}</a>
    </div>

    <div class="block" style="height: 50vh">
        {% include "fellchensammlung/partials/bulma-partial-map.html" %}
    </div>

    {% if how_to %}
        <div class="card">
            <h1>{{ how_to.title }}</h1>
            {{ how_to.content | render_markdown }}
        </div>
    {% endif %}

{% endblock %}