{% load static %}
{% load i18n %}
<footer class="footer">
    <div class="columns">
        <div class="column">
            <div class="block">
                <h3 class="bd-footer-title title is-3 has-text-left">
                    Notfellchen
                </h3>

                <!-- footer content -->
                <p class="bd-footer-link
                has-text-left">
                    Für Menschen die Ratten aus dem Tierschutz ein liebendes Zuhause geben wollen.
                </p>
            </div>

            <div class="block">
                <h3 class="bd-footer-title title is-5">
                    {% trans 'Sprache ändern' %}
                </h3>
                {% include "fellchensammlung/forms/change_language.html" %}
            </div>

        </div>

        <div class="column">
            <h4 class="bd-footer-title title is-4 has-text-justify">
                Technisches
            </h4>

            <p class="bd-footer-link">
                <a class="nav-link " href="{% url "rss" %}">
                    <i class="fa-solid fa-rss"></i> {% translate 'RSS' %}
                </a>
                <br/>

                <a href="https://dokumentation.notfellchen.org/">
                  <span class="icon-text">
                    <span>{% translate 'Dokumentation' %}</span>
                  </span>
                </a>
                <br/>

                <a href="mailto:info@notfellchen.org">
                  <span class="icon-text">
                    <span>{% translate 'Probleme melden' %}</span>
                  </span>
                </a>
                <br/>
                <a href="https://codeberg.org/moanos/notfellchen">
                  <span class="icon-text">
                    <span>{% trans 'Code' %}</span>
                  </span>
                </a>
            </p>
        </div>
    </div>
</footer>