{% load static %}
{% load i18n %}


</div>

<div class="header">
    <a href="{% url "index" %}" class="logo"><img src={% static 'fellchensammlung/img/logo_transparent.png' %}></a>
    <nav id="nav" class="nav justify-content-center">
        <a class="nav-link " href="{% url "search" %}"><i class="fas fa-search"></i> {% translate 'Suchen' %}</a>
        <a class="nav-link " href="{% url "add-adoption" %}"><i
                class="fas fa-feather"></i> {% translate 'Vermittlung hinzufügen' %}</a>
        <a class="nav-link " href="{% url "about" %}"><i class="fas fa-info"></i> {% translate 'Über uns' %}</a>
        <a class="nav-link " href="{% url "rss" %}"><i class="fa-solid fa-rss"></i> {% translate 'RSS' %}</a>

    </nav>
    <div class="header-right">
        <div class="profile-card">
            {% include "fellchensammlung/forms/change_language.html" %}
            {% if user.is_authenticated %}
                <a class="btn2" href="{{ user.get_absolute_url }}">Profile</a>
                <form class="btn2 button_darken" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">{% translate "Ausloggen" %}</button>
                </form>
                </div>
            {% else %}
                <a class="btn2" href="{% url "django_registration_register" %}">{% translate "Registrieren" %}</a>
                <a class="btn2" href="{% url "login" %}">{% translate "Einloggen" %}</a>
            {% endif %}

    </div>
</div>