{% load static %}
{% load i18n %}


</div>

<div class="header">
  <a href="{% url "index" %}" class="logo"><img src={% static 'fellchensammlung/img/logo_transparent.png' %}></a>
    <nav id="nav" class="nav justify-content-center">
    <a class="nav-link " href="{% url "search" %}"><i class="fas fa-search"></i> Suchen</a>
    <a class="nav-link " href="{% url "add-adoption" %}"><i class="fas fa-"></i> Vermittlung hinzufügen</a>
    <a class="nav-link " href="{% url "about" %}"><i class="fas fa-info"></i> Über uns</a>
    <a class="nav-link " href=""><i class="fas fa-feather"></i> RSS</a>

  </nav>
  <div class="header-right">
    <a href="https://codeberg.org/moanos/notfellchen">{% translate "About the software" %}</a>
  </div>
</div>