{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}

{% block content %}
    <h1>{% translate "Notfellchen - Vermittlungen finden" %}</h1>
    <p>{% translate "Alle Tiere brauchen ein liebendes Zuhause. Damit keins vergessen wird gibt es diese Seite. Entwickelt und betreut von " %}<em><a
            href="https://hyteck.de">moanos</a></em>!</p>
    <h2>{% translate "Aktuelle Vermittlungen" %}</h2>

    {% include "fellchensammlung/lists/list-adoption-notices.html" %}

{% endblock %}