{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}
{% load custom_tags %}

{% block content %}
    {% for announcement in announcements %}
        {% include "fellchensammlung/partials/partial-announcement.html" %}
    {% endfor %}
    {% if introduction %}
        <h1>{{ introduction.title }}</h1>
        {{ introduction.content | render_markdown }}
    {% endif %}

    <h2>{% translate "Aktuelle Vermittlungen" %}</h2>

    <div class="container-cards">
        {% include "fellchensammlung/lists/list-adoption-notices.html" %}
        <a class="btn2" href="{% url 'search' %}">{% translate "Mehr Vermittlungen" %}</a>
    </div>
    {% if how_to %}
        <h1>{{ how_to.title }}</h1>
        {{ how_to.content | render_markdown }}
    {% endif %}

{% endblock %}