{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}
{% block title %}<title>{% translate "Instanz-Check" %}</title> %}
{% block content %}
    <div class="card">
        <h1>{% translate "Instanz-Check" %}</h1>
        {% if missing_texts|length > 0 %}
            <h2>{% trans "Fehlende Texte" %}</h2>
            <p>
                <table>
                    <tr>
                        <th>{% translate "Text Code" %}</th>
                        <th>{% translate "Sprache" %}</th>
                    </tr>
                    {% for missing_text in missing_texts %}
                        <tr>
                            <td>{{ missing_text.0 }}</td>
                            <td>{{ missing_text.1 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </p>
        {% else %}
            <p>{% translate "Texte scheinen vollständig" %}</p>
        {% endif %}

        <h2>{% translate "Nicht-lokalisierte Vermittlungen" %}</h2>
        {% if number_not_geocoded_adoption_notices > 0 %}
            <details>
                <summary>{{ number_not_geocoded_adoption_notices }}/{{ number_of_adoption_notices }}</summary>
                <ul>
                    {% for adoption_notice in none_geocoded_adoption_notices %}
                        <li>
                            <a href="{{ adoption_notice.get_absolute_url }}">{{ adoption_notice.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </details>
        {% else %}
            <p>{{ number_not_geocoded_adoption_notices }}/{{ number_of_adoption_notices }}</p>
        {% endif %}

        <h2>{% translate "Nicht-lokalisierte Tierschutzorganisationen" %}</h2>
        {% if number_not_geocoded_rescue_orgs > 0 %}
            <details>
                <summary>{{ number_not_geocoded_rescue_orgs }}/{{ number_of_rescue_orgs }}</summary>
                <ul>
                    {% for rescue_org in none_geocoded_rescue_orgs %}
                        <li>
                            <a href="{{ rescue_org.get_absolute_url }}">{{ rescue_org.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </details>
        {% else %}
            <p>{{ number_not_geocoded_rescue_orgs }}/{{ number_of_rescue_orgs }}</p>
        {% endif %}

        <form class="notification-card-mark-read" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="clean_locations">
            <button class="btn" type="submit" id="submit">
                <i class="fa-solid fa-broom"></i> {% translate "Erneut lokalisieren" %}
            </button>
        </form>
    </div>
{% endblock content %}
