{% extends "fellchensammlung/base.html" %}
{% load i18n %}
{% block content %}
    <h1 class="title is-1">{% translate "Aktualitätscheck" %}</h1>
    <p>{% translate "Überprüfe ob im Tierheim neue Vermittlungen ein Zuhause suchen" %}</p>

    <div class="grid is-col-min-20">
        {% for rescue_org in rescue_orgs %}
            <div class="cell">
                {% include "fellchensammlung/partials/partial-check-rescue-org.html" %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
