{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}
{% block content %}
    <h1>{% translate "Aktualitätscheck" %}</h1>
    <p>{% translate "Überprüfe ob im Tierheim neue Vermittlungen ein Zuhause suchen" %}</p>
    <div class="container-cards spaced">
        <h1>{% translate 'Organisation zur Überprüfung' %}</h1>
        {% for rescue_org in rescue_orgs %}
            {% include "fellchensammlung/partials/partial-check-rescue-org.html" %}
        {% endfor %}
    </div>
{% endblock %}
