{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}

{% block title %}<title>{% translate "Suche" %}</title>{% endblock %}

{% block content %}
    <form class="form-search card" method="post">
        {% csrf_token %}
        <input type="hidden" name="longitude" maxlength="200" id="longitude">
        <input type="hidden" name="latitude" maxlength="200" id="latitude">
        {{ search_form.as_p }}
        <button class="btn" type="submit" value="search" name="search">
            <i class="fas fa-search"></i> {% trans 'Suchen' %}
        </button>
        {% if searched %}
            <button class="btn" type="submit" name="subscribe_to_search">
                <i class="fas fa-bell"></i> {% trans 'Suche abonnieren' %}
            </button>
        {% endif %}
    </form>
    {% if place_not_found %}
        <p class="error">{% translate "Ort nicht gefunden" %}</p>
    {% endif %}
    {% include "fellchensammlung/lists/list-adoption-notices.html" %}
{% endblock %}
