{% extends "fellchensammlung/base_bulma.html" %}
{% load i18n %}
{% block content %}
    <h1>{% translate "Aktualitätscheck" %}</h1>
    <p>{% translate "Überprüfe ob Vermittlungen noch aktuell sind" %}</p>
    <div class="container-cards spaced">
        <h1>{% translate 'Deaktivierte Vermittlungen zur Überprüfung' %}</h1>
        {% for adoption_notice in adoption_notices_disabled %}
            {% include "fellchensammlung/partials/partial-check-adoption-notice.html" %}
        {% endfor %}
    </div>
    <div class="container-cards spaced">
        <h1>{% translate 'Aktive Vermittlungen zur Überprüfung' %}</h1>
        {% for adoption_notice in adoption_notices_active %}
            {% include "fellchensammlung/partials/partial-check-adoption-notice.html" %}
        {% endfor %}
    </div>
{% endblock %}
