{% extends "fellchensammlung/mail/base.html" %}
{% load i18n %}
{% block title %}
    {{ site.name }}: {% trans "Account aktivieren" %}
{% endblock %}

{% block content %}
    <p>
        {% trans 'Jemand hat um versucht dein Passwort zurückzusetzen. Wenn das nicht du warst, meld dich bitte unter info@notfellchen.org und ignoriere diese E-Mail' %}
    </p>

    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
       class="cta-button">{% translate 'Jetzt aktivieren' %}</a>

{% endblock %}

