:root {
    --primary: #6CD4FF;
    --link: #292a2c;
    --grey-light: #c4c6ce;
    --grey-dark: #262728;
}

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(221, 14%, 100%)r;
    color: #000000;
    margin: 0;
    height: 100%;
}

.content {
    margin: 10px;
}


alert-box {
    display: block;
    margin: 3rem 0;
    padding: 2rem 3rem;
    border: 1px solid var(--highlight-one);
    border-left-width: .5rem;
    border-radius: .4rem;
    background-color: var(--primary);

    a {
        text-decoration: underline;
    }
}

a {
    text-decoration: none;
    color: var(--link);
}


.rss-summary {
    color: var(--highlight-one);
    padding: 15px;
    border-radius: .4rem;
    background-color: var(--background-three);
}

.post-summary {
    color: var(--text-two);
    margin: 1rem;
    padding: 5px;
    border-radius: .4rem;
    border: 3px solid var(--primary);
}

.post-summary h1 {
    color: var(--text-one);
    font-size: large;
}

.inline-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.navigation-sticky {
    background-color: var(--primary);
    padding: 16px;
    margin: 0;
    border-bottom-right-radius: 8px;
    border: none;
    font-weight: bold;
    width: 20%;
}
