{% extends "fellchensammlung/base.html" %}
{% load i18n %}

{% block content %}

    {% if form.errors %}
        <div class="notification is-warning">
            <button class="delete"></button>
            <p>
                {% translate "Der eingegebene Username oder das Passwort ist falsch." %}
            </p>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <p class="is-warning">{% translate "Du bist bereits eingeloggt." %}</p>
    {% else %} {% if next %}

        <div class="notification is-warning">
            <button class="delete"></button>
            <p>
                {% translate "Bitte log dich ein um diese Seite sehen zu können." %}
            </p>
        </div>
    {% endif %}
    {% endif %}

    {% if not user.is_authenticated %}
        <div class="block">
            <div class="block">
                <form class="" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ form }}
                    <input class="button is-primary" type="submit" value="{% translate 'Einloggen' %}"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
            </div>

            <div class="block">
                <a class="button is-warning" href="{% url 'password_reset' %}">{% translate "Passwort vergessen?" %}</a>
                <a class="button is-link"
                   href="{% url 'django_registration_register' %}">{% translate "Registrieren" %}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}