{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}

{% block content %}

  {% if form.errors %}
    <p>{% translate "Dein Username oder Passwort ist falsch." %}</p>
  {% endif %}

{% if user.is_authenticated %}
  <p>{% translate "Du bist bereits eingeloggt." %}</p>
  {% else %} {% if next %}
    <p>{% translate "Bitte log dich ein um diese Seite sehen zu können." %}</p>
  {% endif %}
{% endif %}

{% if not user.is_authenticated %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value={% translate "Einloggen" %} />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p><a href="{% url 'password_reset' %}">{% translate "Passwort vergessen?" %}</a></p>
{% endif %}
{% endblock %}