{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <h1>{% translate "Passwort zurücksetzen" %} </h1>
        <p>{% translate "Bitte gib die E-Mail ein die mit deinem Account verknüpft ist." %}</p>
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default btn-lg" value={% translate "Zurücksetzen" %}>
    </form>
{% endblock %}
