{% extends "fellchensammlung/base.html" %}
{% load i18n %}

{% block content %}
    <form class=block action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <h1 class="title is-1">{% translate "Passwort zurücksetzen" %} </h1>
        <p>{% translate "Bitte gib die E-Mail ein die mit deinem Account verknüpft ist." %}</p>
        <p>{{ form }}</p>
        <input type="submit" class="button is-primary" value={% translate "Zurücksetzen" %}>
    </form>
{% endblock %}
