{% extends "fellchensammlung/base.html" %}
{% load i18n %}

{% block content %}
    {% if validlink %}
        <p>{% translate "Bitte änder und bestätige dein neues Passwort." %}</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% translate "Neues Passwort" %}:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% translate "Passwort bestätigen" %}:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value={% translate "Passwort ändern" %} /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1 class="title is-1 is-warning">{% translate "Zurücksetzen vom Passwort fehlgeschlagen" %}</h1>
        <p>{% translate "Der Link zum Zurücksetzen vom Passwort ist ungültig, vielleicht weil er bereits benutzt wurde. Bitte beantrage die Zurücksetzung erneut." %}</p>
    {% endif %}
{% endblock %}

