{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>{% translate "Vermitteln" %}</h1>
    <p>
        {% blocktranslate %}
            Bitte mach dich zunächst mit unseren Regeln vertraut. Dann trage hier die ersten Informationen ein.
            Wenn du Details und Fotos zu den Tieren hinzufügen willst oder ihr Geschlecht und Geburtsadatum anpassen willst,
            kannst du das im nächsten Schritt tun.
        {% endblocktranslate %}
    </p>
    {% crispy form %}
{% endblock %}