{% extends "fellchensammlung/base_generic.html" %}
{% load i18n %}

{% block content %}
    <h1>{% translate "Vermitteln" %}</h1>
    {% blocktranslate %}
        Hier kannst du jetzt einzelne Tiere zu deiner Vermittlung hinzufügen. Lad auch gerne Fotos hoch. Gruppenfotos
        kannst
        du im nächsten Schritt hochladen.
    {% endblocktranslate %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-animal">
            {{ form.as_p }}
        </div>
        <div class="form-image">
            <h2>{% translate "Bild hinzufügen" %}</h2>
            {{ image_form.as_p }}
        </div>
        <button name="button_add_another_animal"
                type="submit">{% translate "Speichern und nächstes Tier hinzufügen" %}</button>
        <button name="button_save_and_continue" type="submit">{% translate "Speichern und weiter" %}</button>
    </form>
{% endblock %}