{% extends "fellchensammlung/base.html" %}
{% load i18n %}

{% block content %}
    <h1 class="title is-1">{% translate "Tiere hinzufügen" %}</h1>
    {% blocktranslate %}
        Hier kannst du jetzt einzelne Tiere zu deiner Vermittlung hinzufügen.
    {% endblocktranslate %}

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="button is-primary is-light" type="submit" value="{% translate "Speichern" %}">
        <input class="button is-primary" type="submit" name="save-and-add-another-animal" value="{% translate "Speichern und weiteres Tier hinzufügen" %}">
    </form>

{% endblock %}