{% extends "fellchensammlung/base_generic.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <p>
        {% blocktranslate %}
            Lade hier ein Foto hoch - wähle den Titel wie du willst und mach bitte eine Bildbeschreibung,
            damit die Fotos auch für blinde und sehbehinderte Personen zugänglich sind.
        {% endblocktranslate %}
        <p><a class="btn2" href="https://www.dbsv.org/bildbeschreibung-4-regeln.html">{% translate 'Anleitung für Bildbeschreibungen' %}</a></p>
    </p>
    <div class="container-form">
        {% crispy form %}
    </div>
{% endblock %}