{% extends "fellchensammlung/base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="title is-1">{% translate "Melden" %}</h1>
    Wenn dieser Inhalt nicht unseren <a href='{% url "about" %}'>Regeln</a> entspricht, wähle bitte eine der folgenden Regeln aus und hinterlasse einen Kommentar der es detaillierter erklärt, insbesondere wenn der Regelverstoß nicht offensichtlich ist.
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button class="button is-primary" type="submit">{% translate "Melden" %}</button>
    </form>
{% endblock %}