{% load i18n %}
{% if adoption_notices %}
    <div class="grid is-col-min-10">
        {% for adoption_notice in adoption_notices %}
            <div class="cell">
                {% if expand %}
                    {% include "fellchensammlung/partials/partial-adoption-notice.html" %}
                {% else %}
                    {% include "fellchensammlung/partials/partial-adoption-notice-minimal.html" %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <article class="message is-warning">
        <div class="message-header">
            <p>{% translate "Keine Vermittlungen gefunden." %}</p>
        </div>
        <div class="message-body">
            {% blocktranslate %}
                Versuche es zu einem späteren Zeitpunkt erneut
            {% endblocktranslate %}
        </div>
    </article>
{% endif %}
