{% extends "fellchensammlung/base_bulma.html" %}
{% load custom_tags %}
{% load i18n %}

{% block title %}<title>{{ org.name }}</title>{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column">
            <div class="block">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-header-title">{{ org.name }}</h1>
                    </div>
                    <div class="card-content">
                        <div class="block">
                            <b><i class="fa-solid fa-location-dot"></i></b>
                            {% if org.location %}
                                {{ org.location }}
                            {% else %}
                                {{ org.location_string }}
                            {% endif %}
                            {% if org.description %}
                                <p>{{ org.description | render_markdown }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                {% include "fellchensammlung/partials/bulma-partial-rescue-organization-contact.html" %}
            </div>
        </div>
        <div class="column">
            {% include "fellchensammlung/partials/bulma-partial-map.html" %}
        </div>
    </div>


    <h2>{% translate 'Vermittlungen der Organisation' %}</h2>
    <div class="container-cards">
        {% if org.adoption_notices %}
            {% for adoption_notice in org.adoption_notices %}
                {% include "fellchensammlung/partials/bulma-partial-adoption-notice-minimal.html" %}
            {% endfor %}
        {% else %}
            <p>{% translate "Keine Vermittlungen gefunden." %}</p>
        {% endif %}
    </div>
{% endblock %}
