{% extends "fellchensammlung/base_generic.html" %}
{% load custom_tags %}
{% load i18n %}

{% block title %}<title>{{ adoption_notice.name }}</title>{% endblock %}

{% block content %}
    <div class="detail-adoption-notice-header">
        <h1 class="detail-adoption-notice-header">{{ adoption_notice.name }}
            {% if not is_subscribed %}
                <form class="notification-card-mark-read" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="subscribe">
                    <input type="hidden" name="adoption_notice_id" value="{{ adoption_notice.pk }}">
                    <button class="btn2" type="submit" id="submit"><i class="fa-solid fa-bell"></i></button>
                </form>
            {% else %}
                <form class="notification-card-mark-read" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="unsubscribe">
                    <input type="hidden" name="adoption_notice_id" value="{{ adoption_notice.pk }}">
                    <button class="btn2" type="submit" id="submit"><i class="fa-solid fa-bell-slash"></i></button>
                </form>
            {% endif %}
        </h1>
        {% if has_edit_permission %}
            <a class="btn2"
               href="{% url 'adoption-notice-add-photo' adoption_notice_id=adoption_notice.pk %}">{% translate 'Foto hinzufügen' %}</a>
            <a class="btn2 detail-adoption-notice-header"
               href="{% url 'adoption-notice-edit' adoption_notice_id=adoption_notice.pk %}">{% translate 'Bearbeiten' %}</a>
        {% endif %}
    </div>
    <div class="table-adoption-notice-info">
        <table>
            <tr>
                <th>{% translate "Ort" %}</th>
                {% if adoption_notice.organization %}
                    <th>{% translate "Organisation" %}</th>
                {% endif %}
                <th>{% translate "Suchen seit" %}</th>
                <th>{% translate "Zuletzt aktualisiert" %}</th>
                <th>{% translate "Weitere Informationen" %}</th>
            </tr>
            <tr>
                <td>
                    {% if adoption_notice.location %}
                        {{ adoption_notice.location }}
                    {% else %}
                        {{ adoption_notice.location_string }}
                    {% endif %}
                </td>
                {% if adoption_notice.organization %}
                    <td>
                        <div>
                            <a href="{{ adoption_notice.organization.get_absolute_url }}">{{ adoption_notice.organization }}</a>
                            {% if adoption_notice.organization.trusted %}
                                <div class="tooltip">
                                <div class="checkmark"><i class="fa-solid fa-check"></i></div>
                                <span class="tooltiptext">
                                    {% translate 'Diese Organisation kennt sich mit Ratten aus und achtet auf gute Abgabebedingungen' %}
                                </span>

                            {% endif %}
                            </div>
                    </td>

                {% endif %}

                <td>{{ adoption_notice.searching_since }}</td>
                <td>{{ adoption_notice.last_checked | date:'d. F Y' }}</td>
                {% if adoption_notice.further_information %}
                    <td>
                        <form method="get" action="{% url 'external-site' %}">
                            <input type="hidden" name="url" value="{{ adoption_notice.further_information }}">
                            <button class="btn" type="submit" id="submit">
                                {{ adoption_notice.further_information | domain }} <i
                                    class="fa-solid fa-arrow-up-right-from-square"></i>
                            </button>
                        </form>
                    </td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        </table>
    </div>
    <div class="card">
        <h1>{% translate "Bilder" %}</h1>
        {% for photo in  adoption_notice.get_photos %}
            <img src="{{ MEDIA_URL }}/{{ photo.image }}" alt="{{ photo.alt_text }}">
        {% endfor %}
    </div>
    <div class="card">
        <h1>{% translate "Beschreibung" %}</h1>
        <p>{% if adoption_notice.description %}
            {{ adoption_notice.description | render_markdown }}
        {% else %}
            {% translate "Keine Beschreibung angegeben" %}
        {% endif %}
        </p>
    </div>

    <div>
        {% for animal in adoption_notice.animals %}
            {% include "fellchensammlung/partials/partial-animal-card.html" %}

        {% endfor %}
    </div>

    {% include "fellchensammlung/partials/partial-comment-section.html" %}

{% endblock %}
