{% extends "fellchensammlung/base.html" %}
{% load i18n %}

{% block title %}<title>{{ user.get_full_name }}</title>{% endblock %}


{% block content %}
    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title is-1"><i class="fas fa-user"></i> {{ user.get_full_name }}</h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <form class="" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="button" type="submit">
                        <i aria-hidden="true" class="fas fa-sign-out fa-fw"></i> Logout
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="block">
        <h2 class="title is-2">{% trans 'Profil verwalten' %}</h2>
        <p><strong>{% translate "E-Mail" %}:</strong> {{ user.email }}</p>
        <div class="">
            <p>
                <a class="button is-warning" href="{% url 'password_change' %}">{% translate "Change password" %}</a>
                <a class="button is-info" href="{% url 'user-me-export' %}">{% translate "Daten exportieren" %}</a>
            </p>
        </div>
    </div>

    {% if user.id is request.user.id %}
        <div class="block">
            <h2 class="title is-2">{% trans 'Einstellungen' %}</h2>
            <form class="block" action="" method="POST">
                {% csrf_token %}
                {% if user.email_notifications %}
                    <label class="toggle">
                        <input type="submit" class="toggle-checkbox checked" name="toggle_email_notifications">
                        <div class="toggle-switch round "></div>
                        <span class="slider-label">
                        {% translate 'E-Mail Benachrichtigungen' %}
                        </span>
                    </label>
                {% else %}
                    <label class="toggle">
                        <input type="submit" class="toggle-checkbox" name="toggle_email_notifications">
                        <div class="toggle-switch round"></div>
                        <span class="slider-label">
                        {% translate 'E-Mail Benachrichtigungen' %}
                        </span>
                    </label>
                {% endif %}
            </form>
            <details>
                <summary><strong>{% trans 'Erweiterte Einstellungen' %}</strong></summary>
                <div class="block">
                    {% if token %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <p class="text-muted"><strong>{% translate "API token:" %}</strong> {{ token }}</p>
                            <input class="button is-danger" type="submit" name="delete_token"
                                   value={% translate "Delete API token" %}>
                        </form>
                    {% else %}
                        <p>{% translate "Kein API-Token vorhanden." %}</p>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input class="button is-primary" type="submit" name="create_token"
                                   value={% translate "Create API token" %}>
                        </form>
                    {% endif %}
                </div>
            </details>

        </div>

        <h2 class="title is-2">{% translate 'Benachrichtigungen' %}</h2>
        {% include "fellchensammlung/lists/list-notifications.html" %}

        <h2 class="title is-2">{% translate 'Abonnierte Suchen' %}</h2>
        {% include "fellchensammlung/lists/list-search-subscriptions.html" %}

        <h2 class="title is-2">{% translate 'Meine Vermittlungen' %}</h2>
        {% include "fellchensammlung/lists/list-adoption-notices.html" %}

    {% endif %}
{% endblock %}