{% extends "fellchensammlung/base_generic.html" %}
{% load custom_tags %}
{% load i18n %}

{% block content %}
    <div class="detail-adoption-notice-header">
        <h1 class="detail-adoption-notice-header">{{ adoption_notice.name }}</h1>
        <a class="btn2 detail-adoption-notice-header" href="{% url 'adoption-notice-edit' 1 %}/{{ adoption_notice.pk }}">{% translate 'Bearbeiten' %}</a>
    </div>
    <div class="table-adoption-notice-info">
        <table>
            <tr>
                <th>{% translate "Ort" %}</th>
                <th>{% translate "Suchen seit" %}</th>
            </tr>
            <tr>
                {% if adoption_notice.location %}
                    <td>{{ adoption_notice.location.name }}, {{ adoption_notice.location.postcode }}</td>
                {% else %}
                    <td>{% translate "Kein Ort angegeben" %}</td>
                {% endif %}
                <td>{{ adoption_notice.searching_since }}</td>
            </tr>
        </table>
    </div>
    <p>
        {% if adoption_notice.description %}
            {{ adoption_notice.description }}
        {% else %}
            {% translate "Keine Beschreibung angegeben" %}
        {% endif %}
    </p>

    <div class="container-cards">
        {% for animal in adoption_notice.animals %}
            {% include "fellchensammlung/partials/partial-animal-card.html" %}
        {% endfor %}
    </div>
{% endblock %}
