{% extends "fellchensammlung/base.html" %}
{% load custom_tags %}
{% load i18n %}
{% load admin_urls %}

{% block title %}<title>{{ org.name }}</title>{% endblock %}
{% block og_title %}
    <meta property="og:title" content="{{ org.name }} - Notfellchen"/>
{% endblock %}
{% block description %}
    <meta name="description" content="{{ org.name }}: {% translate 'Kontaktdaten und Tiere zur Adoption' %}">
{% endblock %}
{% block og_description %}
    <meta property="og:description" content="{{ org.name }}: {% translate 'Kontaktdaten und Tiere zur Adoption' %}">
{% endblock %}
{% block canonical_url %}{% host %}{% url 'rescue-organization-detail' rescue_organization_id=org.id %}{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column">
            <div class="block">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-header-title">{{ org.name }}</h1>
                    </div>
                    <div class="card-content">
                        <div class="block">
                            <b><i class="fa-solid fa-location-dot"></i></b>
                            {% if org.location %}
                                {{ org.location }}
                            {% else %}
                                {{ org.location_string }}
                            {% endif %}
                            {% if org.description %}
                                <p>{{ org.description | render_markdown }}</p>
                            {% endif %}
                        </div>
                        {% if org.specializations %}
                            <div class="block">
                                <h3 class="title is-5">{% translate 'Spezialisierung' %}</h3>
                                <div class="content">
                                    <ul>
                                        {% for specialization in org.specializations.all %}
                                            <li>{{ specialization }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if org.parent_org %}
                            <div class="block">
                                <h3 class="title is-5">{% translate 'Übergeordnete Organisation' %}</h3>
                                <p>
                                    <span>
                                        <i class="fa-solid fa-building fa-fw" aria-label="{% trans 'Tierschutzorganisation' %}"></i>
                                            <a href="{{ org.parent_org.get_absolute_url }}"> {{ org.parent_org }}</a>
                                    </span>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="block">
                {% include "fellchensammlung/partials/partial-rescue-organization-contact.html" %}
            </div>
            <div class="block">
                <a class="button is-warning is-fullwidth" href="{% url org_meta|admin_urlname:'change' org.pk %}">
                    <i class="fa-solid fa-tools fa-fw"></i> Admin interface
                </a>
            </div>
        </div>
        <div class="column">
            {% include "fellchensammlung/partials/partial-map.html" %}
        </div>
    </div>

    {% if org.child_organizations %}
        <div class="block">
        <h2 class="title is-2">{% translate 'Unterorganisationen' %}</h2>
            {% with rescue_organizations=org.child_organizations %}
                {% include "fellchensammlung/lists/list-animal-shelters.html" %}
            {% endwith %}
        </div>
    {% endif %}


    <h2 class="title is-2">{% translate 'Vermittlungen der Organisation' %}</h2>
    <div class="container-cards">
        {% if org.adoption_notices_in_hierarchy %}
            {% for adoption_notice in org.adoption_notices_in_hierarchy %}
                {% include "fellchensammlung/partials/partial-adoption-notice-minimal.html" %}
            {% endfor %}
        {% else %}
            <p>{% translate "Keine Vermittlungen gefunden." %}</p>
        {% endif %}
    </div>
{% endblock %}
