{% extends "fellchensammlung/base.html" %}
{% load i18n %}
{% load custom_tags %}

{% block title %}<title>{% translate "403 Forbidden" %}</title>{% endblock %}

{% block content %}
    <h1 class="title is-1">403 Forbidden</h1>
    <p>
        {% if error_message %}
            {{ error_message }}
        {% else %}
            {% blocktranslate %}
                Diese Aktion ist dir nicht erlaubt. Logge dich ein oder nutze einen anderen Account. Wenn du denkst,
                dass hier
                ein Fehler vorliegt, kontaktiere das Team!
            {% endblocktranslate %}
        {% endif %}
    </p>
{% endblock %}